@font-face {
	font-family: hachi;
	src: url(fontstyles/hachicro.ttf);
}

@font-face {
	font-family: visitor;
	src: url(fontstyles/visitor1.ttf);
}

@font-face {
	font-family: pixel;
	src: url(fontstyles/pixelmix.ttf);
}

body {
	font-family: monospace;
	color: #f2f2f2;
	background-color: #1c2324;
}


/*NAVBAR*/
nav {
	position: fixed;
	margin: auto;
	width: 99%;
	font-family: hachi;
	text-transform: uppercase;
	text-align: center;
	display: block;
	background-color: #212a2b;
	font-size: 0.9em;
	word-spacing: 5em;
	padding: 10px;
	z-index: 99;
}

a.navlink:link {
	color: #f2f2f2;
	text-decoration: none;
}

a.navlink:visited {
	color: #f2f2f2;
	text-decoration: none;
}

a.navlink:hover {
	color: #669999;
	text-decoration: none;
}
/*END NAVBAR*/

#homepic {
	display: block;
	margin: 0 auto;
	width: 80%;
	padding-top: 100px;
	border-bottom-style: double;
	border-bottom-color: #c2d6d6;
}

#charname{
	text-align: right;
	text-transform: uppercase;
	margin-right: 10%;
	letter-spacing: 3px;
	font-family: visitor;
	font-size: 1em;
}


/*ABOUT PAGE*/
#char-icon {
	display: block;
	margin: auto;
	width: 150px;
	border-style: double;
	border-radius: 20px;
	border-color: #333333;
}

div#statbox {
	background-color: #d9d9d9;
	opacity: 0.9;
	font-family: visitor;
	color: #404040;
	margin: auto;
	padding: 10px;
	width: 40%;
}

span {
	color: #476b6b;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: 3px;
}

ul#stats{
	list-style-type: none;
	list-style-position: outside;
	font-size: 1.2em;
}

.statstitle {
	font-family: pixel;
	font-size: 1em;
	word-spacing: 1em;
	border-style: none;
}

p#bio {
	font-family: pixel;
	font-size: 14px;
	line-height: 120%;
}


/*PORTFOLIO PAGE*/
#portfolio-container {
	margin: 8% 9% 12% 9%;
	width: 90%;
}

.portfolio-grid {
	display: inline-block;
	margin: 4% 4%;
	position: relative;
}

.portfolio-title {
	position: absolute;
	background-color: rgba(33, 42, 43, 0.9);
	font-family: visitor;
	color: #bfbfbf;
	font-size: 1em;
	z-index: 98;
	top: -10px;
	left: -5px;
	padding: 0px 2px;
}

.portfolio-desc {
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #000000;
	opacity: 0;
	background-color: rgba(33, 42, 43, 0.4);
	font-size: 1.2em;
}

.grid-pic {
	display: -webkit-flex;
	display: flex;
	width: 250px;
	height: 200px;
}

.grid-pic:hover {
	opacity: 0.6;
	-webkit-transition: opacity 750ms;
	-moz-transition: opacity 750ms;
	-o-transition: opacity 750ms;
	transition: opacity 750ms;
}

.portfolio-grid:hover .portfolio-desc {
	opacity: 1;
	-webkit-transition: opacity 750ms;
	-moz-transition: opacity 750ms;
	-o-transition: opacity 750ms;
 	transition: opacity 750ms;
}



/*RESUME PAGE*/
h1 {
	line-height: 70%;
}

h2 {
	line-height: 70%;
}

h3{
	border-bottom-style: solid;
	border-bottom-color: #669999;
}



/*MEDIA QUERIES*/
/*NAVBAR QUERIES*/
@media (max-width: 900px) {
	nav {
		width: 99%;
		font-size: 0.7em;
		word-spacing: 4em;
		padding: 7px;
	}
}

@media (max-width: 450px) {
	nav {
		width: 99%;
		font-size: 0.7em;
		word-spacing: 2em;
		padding: 5px;
	}
}

/*PORTFOLIO QUERIES*/
@media (max-width: 1000px) {
	.portfolio-title {
		font-size: 1em;
	}

	.portfolio-desc {
		font-size: 1.1em;
	}

	.grid-pic {
		display: -webkit-flex;
		display: flex;
		width: 400px;
		height: 320px;
	}
}

@media (max-width: 600px) {
	.portfolio-title {
		font-size: 0.8em;
	}

	.portfolio-desc {
		font-size: 1em;
	}

	.grid-pic {
		display: -webkit-flex;
		display: flex;
		width: 250px;
		height: 200px;
	}
}
